{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}

{% block main %}
<div class="hero" style="background-image: url({{ asset('images/products_hero.jpg') }})">
  <div class="container">
    <div class="text">
      <div class="title2lines">
        <div class="title">PRODUCT CENTER</div>
        <div>产品中心</div>
      </div>
    </div>
  </div>
</div>

<div class="main container py-5">
  <div class="btn-wrapper">
    <div class="btns btns1">
      <button class="btn btn-dark">产品类型:</button>
      <button class="btn btn-danger">随车起重运输车</button>
      <button class="btn btn-outline-danger">汽车起重机</button>
      <button class="btn btn-outline-danger">其它</button>
    </div>
    <div class="btns btns2">
      <button class="btn btn-dark">驱动形式:</button>
      <button class="btn btn-danger">4x2</button>
      <button class="btn btn-outline-danger">4x2</button>
      <button class="btn btn-outline-danger">8x4</button>
      <button class="btn btn-outline-danger">4x2</button>
      <button class="btn btn-outline-danger">10x4</button>
      <button class="btn btn-outline-danger">其它</button>
    </div>
    <div class="btns btns3">
      <button class="btn btn-dark">吨位:</button>
      <button class="btn btn-danger">3.2吨</button>
      <button class="btn btn-outline-danger">5吨</button>
      <button class="btn btn-outline-danger">6吨</button>
      <button class="btn btn-outline-danger">8吨</button>
      <button class="btn btn-outline-danger">10吨</button>
      <button class="btn btn-outline-danger">12吨</button>
      <button class="btn btn-outline-danger">14吨</button>
      <button class="btn btn-outline-danger">16吨</button>
      <button class="btn btn-outline-danger">55吨</button>
    </div>
  </div>

  <div class="products-wrapper row mt-5">
    {% for i in nodes %}
    <div class="col-12 col-md-4 px-md-5">
      <a href="{{path('app_product_show', {nid: 1})}}">
      <div class="img">
        <img src="{{ asset("images/#{i.image}")}}">
      </div>
      <div class="title text-center">{{ i.title }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

  <div class="d-flex justify-content-center mb-5">
    <ul class="pagination">
      <li class="page-item {{ page == 1 ? 'disabled'}}">
        <a class="page-link" href="?p={{ page - 1 }}"><span>&laquo;</span></a>
      </li> 
      {% for i in 1..page_count %}
      <li class="page-item {{ loop.index == page ? 'active'}}">
        <a class="page-link" href="?p={{ loop.index }}"><span>{{ loop.index }}</span></a>
      </li>
      {% endfor %}
      <li class="page-item {{ page == page_count ? 'disabled'}}">
        <a class="page-link" href="?p={{ page + 1}}">&raquo;</a>
      </li>
    </ul>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
