{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block main %}
<div class="main">
  <div class="swiper swiper-1 section-1">
    <!-- additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- slides -->
      {% for i in slide_1 %}
      <div class="swiper-slide" style="background-image: url({{asset("images/#{i.image}")}})"></div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="section-2" style="background-image: url({{asset('images/bg-1.jpg')}})">
    <div class="container position-relative">
      <div class="text d-flex justify-content-between">
        <div class="title2lines">
          <div class="title">PRODUCT DISPLAY</div>
          <div>产品展示</div>
        </div>
        <div class="d-flex align-items-center"><a href="{{ path('app_products') }}">更多车型 &raquo;</a></div>
      </div>
      <div class="switch text-center my-4">
        <button data-id="1" class="btn btn-danger">随车起重运输车</button>
        <button data-id="2" class="btn btn-light">汽车起重机</button>
      </div>
      <div class="swiper swiper-2 swiper-2-1" data-id="1">
        <!-- additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- slides -->
          {% for i in slide_2_1 %}
          <div class="swiper-slide" style="background-image: url({{asset("images/#{i.image}")}})"></div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="swiper swiper-2 swiper-2-2 d-none" data-id="2">
        <!-- additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- slides -->
          {% for i in slide_2_2 %}
          <div class="swiper-slide" style="background-image: url({{asset("images/#{i.image}")}})"></div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      {#
      <div class="swiper swiper-2 swiper-2-3 d-none" data-id="3">
        <!-- additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- slides -->
          <div class="swiper-slide" style="background-image: url({{asset('images/slider-2.jpg')}})"></div>
          <div class="swiper-slide" style="background-image: url({{asset('images/slider-2.jpg')}})"></div>
          <div class="swiper-slide" style="background-image: url({{asset('images/slider-2.jpg')}})"></div>
          <div class="swiper-slide" style="background-image: url({{asset('images/slider-2.jpg')}})"></div>
          <div class="swiper-slide" style="background-image: url({{asset('images/slider-2.jpg')}})"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      #}

    </div>
  </div>

  <div class="section-3 py-5" id="feedback">
    <div class="container">
      {% for message in app.flashes('notice') %}
      <div class="flash-notice text-center text-success">
          {{ message }}
      </div>
      {% endfor %}
      <div class="title mb-3">预约看车</div>
      <form class="text-center text-md-end" action="{{ path('app_feedback_new')}}" method="post">
        <div class="row justify-content-between">
          <div class="input-group col-12 col-md-4">
            <span class="input-group-text">姓名:</span>
            <input type="text" name="name" class="form-control" required placeholder="" aria-label="name">
          </div>
          <div class="input-group col-12 col-md-4">
            <span class="input-group-text">性别:</span>
            <select name="sex" required class="form-select" aria-label="">
              <option selected></option>
              <option value="0">女</option>
              <option value="1">男</option>
            </select>
          </div>
          <div class="input-group col-12 col-md-4">
            <span class="input-group-text">电话:</span>
            <input type="text" name="phone" class="form-control" required placeholder="" aria-label="phone">
          </div>
          <div class="input-group col-12 col-md-4 input-group-2">
            <span class="input-group-text">省份:</span>
            <select name="province" id="provinces" required class="form-select" aria-label="">
              <option selected></option>
            </select>
            <div class="mx-2"></div>
            <span class="input-group-text">城市:</span>
            <select name="city" id="cities" required class="form-select" aria-label="">
              <option selected></option>
            </select>
          </div>
          <div class="input-group col-12 col-md-4">
            <span class="input-group-text">选择吨位:</span>
            <input type="text" name="body" class="form-control" required placeholder="" aria-label="body">
          </div>
          <div class="input-group col-12 col-md-4">
            <span class="input-group-text">预算:</span>
            <input type="text" name="note" class="form-control" required placeholder="" aria-label="note">
          </div>
        </div>
            <input type="text" name="type" class="d-none" value="1">
        <button class="btn btn-danger mt-3 mb-2">立即预约</button>
      </form>
    </div>
  </div>

  <div class="section-4">
    <div class="container position-relative">
      <div class="text text-right text-md-end">
        <div class="title2lines">
          <div class="title">NEWS AND INFORMATION</div>
          <div>新闻资讯</div>
        </div>
      </div>
      <div class="mt-4 text-center text-md-start">
        <button class="btn btn-danger"><a href="{{ path('app_news_list')}}">新闻</a></button>
        <button class="btn btn-danger"><a href="{{ path('app_news_list')}}">视频</a></button>
      </div>
      <div class="row justify-content-between">
        <div class="col-12 col-md-4 pe-md-5">
          <div class="swiper swiper-3-1">
            <!-- additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- slides -->
              {% for i in news %}
              <div class="swiper-slide">
                <div class="title">{{ i.title }}</div>
                <div class="line"></div>
                <div class="summary">{{ i.summary }}</div>
              </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="swiper swiper-3-2">
            <!-- additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- slides -->
              {% for i in news %}
              <div class="swiper-slide" style="background-image: url({{asset("images/#{i.image}")}})"></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-5">
    <div class="container">
      <div class="text mt-5">
        <div class="title2lines">
          <div class="title">PRODUCT DISPLAY</div>
          <div class="text-dark">经销商查询</div>
        </div>
      </div>
      <div id="map-wrapper">
        <div id="amap-container">
        </div>
        <div id="amap-container-form" class="listCon">
          <div class="listBox">
            <div class="searchBox cf">
              <form class="d-flex justify-content-between" action="" method="post" name="distributor_form" id="distributor_form">
                <div class="gSelect fl">
                  <i></i>
                  <select class="mhxl" id="province" name="province">
                    <!--
                    <option></option>
                    -->
                  </select>
                </div>
                <div class="gSelect noMarR fl">
                  <i></i>
                  <select class="mhxl" id="city" name="city">
                    <!--
                    <option></option>
                    -->
                  </select>
                </div>
              </form>
            </div>
            <div class="table_b">
              <div class="">
                <div class="vscroller vscroller0">
                  <div class="vscroller-content" style="top: 0px;">
                    <ul class="distributor_list" id="distributor_list">
                      <li data-lat="" data-lng="" data-title="" data-address="" data-tel="">
                        <h4 class=""></h4>
                        <div class="">
                          <p>地址： </p>
                          <p>电话： </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('js/home.js') }}"></script>
<script src="https://webapi.amap.com/maps?v=2.0&key=3713e08bba2f85ad35c1ad69943d725f"></script>
<script src="{{ asset('js/z_map.js')}}"></script>
<script src="{{ asset('js/z_setMapCenterByCity.js')}}"></script>
<script src="{{ asset('js/pca.js')}}"></script>
{% endblock %}
