{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="/css/newsdetail.css?version=1.8">
{% endblock %}

{% block main %}
{#
<div class="hero" style="background-image: url({{ asset("images/#{node.image}") }})">
  <div class="container">
    <div class="text">
      <div class="title2lines">
        <div class="title"></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
#}

	<!--详情内容-->
	<div class="container">
    <img class="w-100 mt-5" src="{{asset("images/#{node.image}")}}">
    <h3 class="node-title py-5">{{ node.title }}</h3>
      {{ node.body|raw }}
	</div>
	
{#
	<!--上一頁下一頁-->
	<div class="upanddown">
		<div class="container updownbox">
      {% if prev %}
			<a class="up" href="{{ path('app_node_show', {nid: prev.id}) }}">上一篇</a>
      {% endif %}
      {% if next %}
			<a class="down" href="{{ path('app_node_show', {nid: next.id}) }}">下一篇</a>
      {% endif %}
		</div>
	</div>
#}

{% endblock %}

{% block javascript %}
{% endblock %}
