{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block main %}
<div class="hero" style="background-image: url({{ asset('images/contact_hero.jpg') }})">
  <div class="container">
    <div class="text">
      <div class="title2lines">
        <div class="title">CONTACT US</div>
        <div>联系我们</div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="contact-wrapper container mb-5">
    <div class="row">
      <div class="contact col-12 col-md-4 text-center">
        <div>
          <img src="{{ asset('images/contact_icon_1.png') }}">
          <div>联系单位</div>
          <div>湖北十堰人杰汽车有限公司</div>
        </div>
      </div>
      <div class="contact col-12 col-md-4 text-center">
        <div>
          <img src="{{ asset('images/contact_icon_2.png') }}">
          <div>公司地址</div>
          <div>湖北省十堰市张湾区工业新区上河路6-1号</div>
        </div>
      </div>
      <div class="contact col-12 col-md-4 text-center">
        <div>
          <img src="{{ asset('images/contact_icon_3.png') }}">
          <div>客户服务热线</div>
          <div>0719-8233988 / 400-8233677</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="feedback">
      {% for message in app.flashes('notice') %}
      <div class="flash-notice text-center text-success">
          {{ message }}
      </div>
      {% endfor %}
    <div class="row">
      <div id="map-wrapper" class="col-12 col-md-7">
        <div id="amap-container"> </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="form-wrapper bg-dark">
          <div class="text">
            <div class="title">CONTACT US</DIV>
            <div class="desc">在线留言</div>
          </div>
          <form action="{{ path('app_feedback_new')}}" method="post">
            <input type="text" required name="name" class="form-control" placeholder="姓名" aria-label="name">
            <input type="text" required name="phone" class="form-control" placeholder="电话" aria-label="name">
            <textarea rows="5" required name="body" class="form-control" placeholder="留言内容"></textarea>
            <div class="note mb-4">* 您提交的留言我们会尽快处理，并且对您的个人信息进行私密保护。</div>
            <input type="text" name="type" class="d-none" value="0">
            <button class="btn btn-danger">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
<script src="https://webapi.amap.com/maps?v=2.0&key=3713e08bba2f85ad35c1ad69943d725f"></script>
<script src="{{ asset('js/z_map.js')}}"></script>
{% endblock %}
