<footer class="py-5 footer">
  <div class="container">
      <div class="row part-1 d-none d-sm-flex">
          <div class="col-12 col-md-4 mb-3">
            <div class="title">COOPERATIVE PARTNER</div>
            <div>合作伙伴</div>
          </div>
          <div class="col"></div>
          <div class="col-auto mb-3 d-flex justify-content-between d-flex justify-content-between">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
            <img src="{{ asset('images/square.png') }}">
          </div>
      </div>
      <div class="part-2"></div>

      <div class="row border-top part-3">
        <div class="col-6 col-md-2 mb-3">
          <h5>智能选车</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">牵引车</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">载货车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自卸车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">专用车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自动挡产品</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>智能选车</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">牵引车</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">载货车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自卸车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">专用车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自动挡产品</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>智能选车</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">牵引车</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">载货车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自卸车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">专用车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自动挡产品</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>智能选车</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">牵引车</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">载货车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自卸车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">专用车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自动挡产品</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>智能选车</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">牵引车</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">载货车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自卸车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">专用车</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">自动挡产品</a></li>
          </ul>
        </div>

      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 copyright">
        <p>法律声明 丨 人杰特汽 版权所有 鄂ICP备888888888号 鄂公网安备 88888888888888号</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
  </div>
</footer>
