{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/services.css') }}">
{% endblock %}

{% block main %}
<div class="hero" style="background-image: url({{ asset('images/services_hero.jpg') }})">
  <div class="container">
    <div class="text">
      <div class="title2lines">
        <div class="title">AFTER-SALE SERVICE</div>
        <div>售后服务</div>
      </div>
    </div>
  </div>
</div>

<div class="main">

  <div class="sectioin-1 py-4">
    <div class="container">
      <div class="row">
        <div class="text col-12 col-md-5">
          <div class="title">服务理念</div>
          <div class="content">以用户需求为核心，努力提供超出用户期望的服务。</div>
        </div>
        <div class="img col-12 col-md-7">
          <img src="{{ asset('images/services-1.jpg')}}">
        </div>
      </div>
    </div>
  </div>

  <div class="sectioin-2 py-4">
    <div class="container">
      <div class="row">
        <div class="img col-12 col-md-7">
          <img src="{{ asset('images/services-2.jpg')}}">
        </div>
        <div class="text col-12 col-md-5">
          <div class="">
            <div class="title">服务原则</div>
          </div>
          <div class="content">在用户严格遵循使用说明书，正常操作的情况下，自购车之日起（以车辆出厂登记卡为准）一年内，行驶里程不超过25000公里之内，因设</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sectioin-3 py-4">
    <div class="container">
      <div class="row">
        <div class="text col-12 col-md-5">
          <div class="title">服务目标</div>
          <div class="content">力争通过令用户满意的优质服务，提升“人杰汽车”品牌价值，努力打造行业一流品牌。</div>
        </div>
        <div class="img col-12 col-md-7">
          <img src="{{ asset('images/services-3.jpg')}}">
        </div>
      </div>
    </div>
  </div>

  <div class="bar">
    <div class="container">
      <div><img src="{{ asset('images/triangle.png')}}"> 车辆维修</div>
    </div>
  </div>

  <div class="sectioin-4 py-4">
    <div class="container">
      <div class="row">
        <div class="img col-12 col-md-7">
          <img src="{{ asset('images/services-4.jpg')}}">
        </div>
        <div class="text col-12 col-md-5">
          <div class="title2">维修中心是集大型、专业的工程机械大修、保养、备件销售、技术支持为一体的综合维修服务中心。</div>
          <div class="content">中心立足基地，结合海内外维修网络； 关注客户体验，致力于打造专业、精湛、规范的维修品牌； 大力发展液压结构件、电器控制等专项维</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sectioin-5 py-4">
    <div class="container">
      <div class="row">
        <div class="text col-12 col-md-5">
          <div class="title2">中心拥有技术精湛的服务团队、10000平米超大型专业维修车间、大型备件仓库及完善的检测调试场地和内部管理体制。</div>
          <div class="content">具有专业维修工程机械发动机组件、油缸、泵、马达、密封件等专业技术人员百余人； 技术团队力量强大，维修检测设备完善，服务标准高。</div>
        </div>
        <div class="img col-12 col-md-7">
          <img src="{{ asset('images/services-5.jpg')}}">
        </div>
      </div>
    </div>
  </div>

  <div class="sectioin-6">
    <div class="container">
      <div><i style="font-size: 1.6rem" class="bi bi-telephone-fill"></i>售后联系电话：400-888-8888</div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
